# requirements.txt

# تحديث إصدار pip
pip==24.0

# تثبيت مكتبة cmake
cmake==3.21.3

# تثبيت مكتبة dlib مع تحديد الإصدار
dlib==19.22.0

# تثبيت باقي المكتبات المستخدمة في التطبيق
streamlit==1.18.0
opencv-python
face-recognition==1.3.0
