pytz
face-recognition-models
dlib
cmake
watchdog
validators
urllib3
tzlocal
tzdata
typing-extensions
tornado
toolz
toml
smmap
six
rpds-py
protobuf
Pillow
packaging
numpy
mdurl
MarkupSafe
idna
Click
charset-normalizer
certifi
cachetools
blinker
attrs
requests
referencing>=0.28.4
python-dateutil
pyarrow
opencv-python
markdown-it-py
jinja2
importlib-metadata
gitdb
face-recognition
rich
pydeck
pandas
jsonschema-specifications
gitpython
jsonschema
opencv-python==4.5.3.56
altair
streamlit
